Django==4.2.16
django-allauth==0.63.6
django-storages==1.14.4
boto3==1.35.36
celery==5.4.0
redis==5.1.1
django-celery-beat==2.7.0
psycopg2-binary==2.9.10
dj-database-url==2.1.0
stripe==11.1.0
openpyxl==3.1.5
Pillow==10.4.0
requests==2.32.3
python-decouple==3.8
gunicorn==23.0.0
whitenoise==6.8.2
django-extensions==3.2.3
PyJWT==2.9.0
cryptography==43.0.3
sentry-sdk==2.18.0
django-ratelimit==4.1.0
django-redis==5.4.0
flower==2.0.1
